/*Universal*/
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Pinyon+Script&display=swap');
*{
    color:white;
    font-family: "Helvetica Neue","Minion Pro",  serif;
    box-sizing: border-box;

}


.index-body{
    display: inline-flex;
    flex-direction: column;
}

/*Navbar*/
.navbar{
    position: fixed;
    background-color: deepskyblue;
    width:100vw;
    height: 50px;
    padding: 10px;
    z-index: 2;

}


.nav-links{
    display: inline;
    float:right;
    margin-right:15%;
    margin-top: 0.7%;
}
.nav-links a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 1em;
}

.nav-links a:hover{
    color:blue;
}

/*Mainbody*/

.main-body{
    z-index: 1;
    background-image: url("../img/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100vw;
    height: 100vh;
    position:absolute;
}

.main-text{
    margin-top: 10%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}

.motto{
    font-family:"Pinyon Script",cursive;
    text-align: center;
    font-weight: bold;
    font-size: 25px;

}

.explore{
    display: inline-block;
    margin-top: 6%;
    border: 2px solid deepskyblue;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: deepskyblue;
    margin-left: 43vw;

}

.explore a{
    text-decoration: none;
}

.copy{
    text-align: center;
    font-size: 30px;
    margin-top: 7%;
    font-weight: bold;
}

.services{
    color: black;
    position: absolute;
    text-align: center;
    margin-top: 50%;
    margin-bottom: 5%;
    bottom: -210%;
    width:100vw;

}



/*Flip image animation*/
@keyframes flip-image {
    0% {
        transform: perspective(300px) rotateY(0);
    }

    100% {
        transform: perspective(300px) rotateY(180deg);
    }
}

.serve{
    display: inline-grid;
    text-align: center;
    position: relative;
    grid-template-columns: 480px 480px;
    grid-auto-rows: 500px 500px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top:2%;
}



.serve img{
    min-width: 200px;
    width: 480px;
    height:500px;
    position: relative;

}

.serve img:hover{
    animation-name: flip-image;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.services-text{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
.text-over{
    position: absolute;
    top:50%;
    left: 50%;
    font-size: 50px;
    font-family: "Minion Pro","Open Sans",sans-serif;
    transform: translate(-50%, -50%);

}

.serve-item{
    position: relative;
    text-align: center;
}

/*Customer Stories*/

.stories-txt{
    text-align: center;
}



.stories{

    position: relative;

    z-index: -3;
}

/*Footer*/
.footer{
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.5rem;
    text-align: center;
    padding: 10px;
    padding-bottom: 0;
    margin-top: 2%;


}

.footer-container{
    display: flex;
    flex-direction: column;
    margin-top: 135%;
    background-color: deepskyblue;
    width: 100vw;
    height: 40vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    .footer-container{
        display: grid;
        grid-template-columns: 1fr;
        margin-top:240%;
        /*background-color: deepskyblue;*/
        width: 80vw;
        height: 40vh;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        z-index: -2;
    }
}

.footer ul{
    list-style-type: none;
    font-size:20px;
    font-weight: bold;

}

.icons{
    display: flex;
    justify-content: space-evenly;
}

.social{
    width:50px;
    height: 50px;
}
.footer-head{
    font-size: 30px;
}
.footer-img{
    background-color: deepskyblue;
}

.footer-img img{
    margin-left: 17%;
}


/*!* If the screen size is 900px wide or less, */
@media screen and (max-width: 900px) {

    .main-body
    {
        height: 70vh;
        background-image: url("../img/main.jpg");
    }
    .navbar{
        height:5vh;
        width: 50vw;
        font-size: 1.5em;
    }

    .nav-links{

        margin-top:-10%;
    }

   .main-text{
       font-size: 2vh;
       width: 2vw;
       margin-left: 2%;
       text-align: left;
       color: white;
   }

    .copy{
        font-size: 2em;
        width: 25%;
        overflow-wrap: anywhere;
        margin-left: 2%;
    }

    .explore{
        margin-top: 2%;
        margin-left: 4%;
    }

    .services{
        margin-top: 200%;
        /*margin-bottom: 5%;*/
        bottom: -150%;
        left: 2%;
        row-gap: 1em;
        z-index: 3;
        padding: 0;
    }

    #services{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr;
        left: 2%;
    }
    .services-text{

        font-size: 2em;
        text-align: left;
        left: 10vw;
    }
    .serve img{
        width: 30vw;
        height: 20vh;
    }

    .serve{
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        margin-top:135%;
        z-index: -1;
    }



}